@*<CascadingAuthenticationState>*@
    <Blazorise.ThemeProvider Theme="@theme">
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </Blazorise.ThemeProvider>
@*</CascadingAuthenticationState>
*@
@code {
    private Theme theme = new Theme
    {
        ColorOptions = new ThemeColorOptions {
            Primary = "#FFFFFF", // white
            Secondary = "FA8D29", // orange
            Info = "#6A93BF", // blue
            Danger = "#E32726", // red
            Warning = "#FDBf48", // yellow
            Success = "#809F5D", // green
            Light = "#D1D2D4", // light gray
            Dark = "#5858B", // dark gray (text color)
            // Gray = "#9d9fa1"
            // Black = "#000000"
            // other
        }
    };
}
