@*<CascadingAuthenticationState>*@
    <Blazorise.ThemeProvider Theme="@theme">
        <Router AppAssembly="@typeof(App).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p role="alert">Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </Blazorise.ThemeProvider>
@*</CascadingAuthenticationState>
*@
@code {
    private Theme theme = new Theme
    {
        ColorOptions = new ThemeColorOptions {
            Primary = "#FA8D29",
            Secondary = "#E32726",
            Info = "#6A93BF",
            Danger = "#E32726",
            Warning = "#FDBf48",
            Success = "#809F5D",
            Light = "#D1D2D4"
        }
    };
}
