@using TheradexPortal.Data.Models;
@using TheradexPortal.Data.Services;
@using TheradexPortal.Data.Static;
@using TheradexPortal.Data.Services.Abstract;
@using TheradexPortal.Data.Models.Configuration;
@using Microsoft.Extensions.Options;
@inject IHttpContextAccessor httpContextAccessor
@inject IOptions<EmailSettings> emailSettings;
@layout AdminLayout

@page "/admin/users"
<AdminRoleCheck AllowedRoles="@(new List<string> { "Super" })"></AdminRoleCheck>
<Div Background="Background.Primary" TextColor="TextColor.Light" Class="p-1"><h2>User List</h2></Div>
<Row Background="Background.Light">
    <Column ColumnSize="ColumnSize.IsFull">
        <DataGrid TItem="User"
                  Class="admindatagrid"
                  Data="@userList"
                  Responsive
                  Filterable
                  Striped
                  ShowPager
                  ShowPageSizes
                  MaxPaginationLinks="5"
                  PagerPosition="DataGridPagerPosition.Bottom"
                  PagerOptions="new(){ButtonSize=Size.Default, 
                                PaginationPosition=PagerElementPosition.Default,
                                TotalItemsPosition=PagerElementPosition.End,
                                }"
                  FixedHeader
                  FixedHeaderDataGridHeight="calc(100vh - 240px)"
                  FixedHeaderDataGridMaxHeight="calc(100vh - 240px)"
                  CommandMode="DataGridCommandMode.ButtonRow">
            <DataGridColumns>
                <DataGridMultiSelectColumn Width="30px"> </DataGridMultiSelectColumn>
                <DataGridCommandColumn />
                <DataGridColumn Field="@nameof(User.FirstName)" Caption="First Name" />
                <DataGridColumn Field="@nameof(User.LastName)" Caption="Last Name" SortDirection="SortDirection.Ascending" />
                <DataGridColumn Field="@nameof(User.EmailAddress)" Caption="Email" />
                <DataGridColumn Field="@nameof(User.CtepUserId)" Caption="CTEP ID" />
                <DataGridColumn Field="@nameof(User.IsActive)" Filterable="false" Caption="Active" Width="125px">
                    <DisplayTemplate>
                        @{
                            var isActive = (context as User)?.IsActive ?? false;

                            if(isActive)
                            {
                                @("Yes")
                            }
                            else
                            {
                                @("No")
                            }

                        }
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridDateColumn Field="@nameof(User.LastLoginDate)" Filterable="false" Caption="Last Logged In" Width="250px">
                    <DisplayTemplate>
                        @{
                            var date = (context as User)?.LastLoginDate;

                            if (date != null)
                            {
                                @(date.Value.Add(timeOffset).ToString("dd-MMM-yyyy hh:mm:ss tt ") + timeZoneAbbrev)
                            }
                        }
                    </DisplayTemplate>
                </DataGridDateColumn>
                <DataGridColumn Sortable="false" Filterable="false" Width="65px">
                    <DisplayTemplate>
                        <Button Color="Color.Info" Clicked="@(()=>EditUserClick(context as User))">
                            Edit
                        </Button>
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn Sortable="false" Filterable="false" Width="115px">
                    <DisplayTemplate>
                        <Button Color="Color.Danger" Clicked="@(()=>ShowDeactivateModal(context as User))" Visibility="@IsDeactivatable(context as User)">
                            Deactivate
                        </Button>
                    </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn Sortable="false" Filterable="false" Width="65px">
                    <DisplayTemplate>
                        <Button Color="Color.Success" Clicked="@(()=>EmailUserClick(context as User))" Visibility="@IsDeactivatable(context as User)">
                            Email
                        </Button>
                    </DisplayTemplate>
                </DataGridColumn>
            </DataGridColumns>
            <ButtonRowTemplate>
                <Button Color="Color.Primary"  Clicked="@NewUserClick">Create User</Button>
            </ButtonRowTemplate>
        </DataGrid>
    </Column>
</Row>
<Modal @ref="deactivateModalRef">
    <ModalContent Centered>
        <ModalHeader Background="Background.Primary">
            <ModalTitle>Deactivate User: @userToDeactivate</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            Warning:  Continuing will deactivate this user.
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Danger" Clicked="@DeactivateUserClick">Deactivate</Button>
            <Button Color="Color.Light" Clicked="@HideModal">Cancel</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
@code {
    [Inject] private NavigationManager navigation {get; set; } = null!;
    [Inject] IUserService userService { get; set; } = null!;
    [Inject] INotificationService NotificationService { get; set; }
    [Inject] TimeZoneService timeZoneService { get; set; } = null!;
    [Inject] IOktaService oktaService { get; set; } = null!;
    [Inject] IEmailService emailService { get; set; } = null;
    [Inject] IConfiguration configuration { get; set; } = null!;

    private IList<User> userList = new List<User>();
    private Modal deactivateModalRef;
    private string userToDeactivate;
    private int userToDeactivateId;
    private string timeZoneAbbrev = "";
    private TimeSpan timeOffset;
    private string[] allowedRoleList;
    private List<int> pagesizes = new List<int>() { 5, 10, 15, 25, 50 }; // For use when customizing. Blazorise will always default to 10 on page load, even when not an option.

    protected override async Task OnInitializedAsync()
    {
        int userId = Convert.ToInt32(httpContextAccessor.HttpContext.User.FindFirst(WRClaimType.UserId).Value);
        User curUser = await userService.GetUserAsync(userId);
        userList = await userService.GetAllUsersAsync();

        timeZoneAbbrev = curUser.TimeZoneAbbreviation;
        timeOffset = TimeSpan.FromMinutes((double)curUser.TimeOffset);
        allowedRoleList = new string[1] { "Super" };
    }

    private Visibility IsDeactivatable(User u)
    {
        if (u.IsActive)
            return Visibility.Visible;
        else
            return Visibility.Invisible;
    }

    private async void NewUserClick()
    {
        navigation.NavigateTo("/admin/user");
    }

    private async void EditUserClick(User u)
    {
        navigation.NavigateTo($"/admin/user/{u.UserId}");
    }

    private Task ShowDeactivateModal(User u)
    {
        userToDeactivate = u.FirstName + " " + u.LastName;
        userToDeactivateId = u.UserId;
        return deactivateModalRef.Show();
    }

    private Task HideModal()
    {
        return deactivateModalRef.Hide();
    }

    private async void DeactivateUserClick()
    {
        deactivateModalRef.Hide();
        int userId = Convert.ToInt32(httpContextAccessor.HttpContext.User.FindFirst(WRClaimType.UserId).Value);
        bool success = userService.DeactivateUser(userToDeactivateId, userId);
        if (success)
        {
            await NotificationService.Success( "User deactivated");
        }
        else
        {
            await NotificationService.Error( "Error deactivating user");
        }
    }

    private async void EmailUserClick(User u)
    {
        // Determine which kind of email needs to be sent.
        // Activate user (Theradex-User/Not Active in OKTA)
        // User active (Theradex or CTEP)
        bool emailSuccess = true;
        bool oktaSuccess = true;

        Tuple<bool, string> oktaResults = await oktaService.GetUserStatus(u.EmailAddress);
        if (oktaResults.Item1)
        {
            if (oktaResults.Item2 == "ACTIVE")
            {
                emailSuccess = await emailService.SendNewSystemEmail(
                    "NCI Oncology Data Hub-" + configuration.GetValue<string>("System:Environment"),
                    navigation.BaseUri,
                    configuration.GetValue<string>("System:SystemColor"),
                    u);

                if (emailSuccess)
                    await NotificationService.Success("Account Email sent");
                else
                    await NotificationService.Error("Unable to send email");
            }
            else if (oktaResults.Item2 == "STAGED")
            {
                // Get activation link for user
                oktaResults = await oktaService.UpdateActiveStatus(u.EmailAddress, true, u.IsCtepUser);
                oktaSuccess = oktaResults.Item1;

                string activationLink = oktaResults.Item2;
                emailSuccess = await emailService.SendNewUserEmail(
                    "NCI Oncology Data Hub-" + configuration.GetValue<string>("System:Environment"),
                    navigation.BaseUri, 
                    configuration.GetValue<string>("System:SystemColor"), 
                    u, 
                    activationLink);

                if (emailSuccess)
                    await NotificationService.Success("Account Email sent");
                else
                    await NotificationService.Error("Unable to send email");
            }
            else if (oktaResults.Item2 == "PROVISIONED")
            {
                // Get activation link for user
                oktaResults = await oktaService.ReActivateUser(u.EmailAddress);
                oktaSuccess = oktaResults.Item1;

                string activationLink = oktaResults.Item2;
                emailSuccess = await emailService.SendNewUserEmail(
                    "NCI Oncology Data Hub-" + configuration.GetValue<string>("System:Environment"),
                    navigation.BaseUri, 
                    configuration.GetValue<string>("System:SystemColor"), 
                    u, 
                    activationLink);

                if (emailSuccess)
                    await NotificationService.Success("Account Email sent");
                else
                    await NotificationService.Error("Unable to send email");
            }
            else
            {
                await NotificationService.Warning("Unable to send email:  OKTA Status of " + oktaResults.Item2);
            }
        }
        else
        {
            await NotificationService.Warning("Unable to determine OKTA status");
        }
    }
}
