@using System.Diagnostics.CodeAnalysis
@using OARS.Data.Models;
@using OARS.Data.Services.Abstract;
@using OARS.Data.Static;
@inject IHttpContextAccessor httpContextAccessor
@layout AdminLayout


@page "/admin/dmu/profile-categories/{profile:int}"
<AdminRoleCheck AllowedRoles="@(new List<string> { "IT" })" AllowedTHORRoles="@(new List<string> { "DMU Global Admin" })"></AdminRoleCheck>
<Div Background="Background.Primary" TextColor="TextColor.Light" Class="p-1"><h2>DMU Global Administration</h2></Div>
<Row Background="Background.Light">
    <Row Background="Background.Light" Style="padding-bottom:10px; padding-top:10px;">
        <Row>
            <Column ColumnSize="ColumnSize.Is1">
               <Button Clicked="@Back" Color="Color.Primary"><Icon Name="IconName.ArrowLeft" /> Back</Button>
            </Column>
            <Column>
                <Text><b>Profile:</b> @selectedProfile.ProfileName</Text>
            </Column>
        </Row>
    </Row>
    <Steps @ref="stepsRef" SelectedStep="@selectedStep" NavigationAllowed="NavigationAllowed">
        <Items>
            <Step Name="profilecategory">OARS Data Category</Step>
            <Step Name="profilefield">OARS Field</Step>
        </Items>
        <Content>
            <StepPanel Name="profilecategory"><ProfileCategoryEdit Profile="@profile"></ProfileCategoryEdit></StepPanel>
            <StepPanel Name="profilefield"><ProfileFieldEdit Profile="@profile"></ProfileFieldEdit></StepPanel>
        </Content>
    </Steps>
</Row>
@code {
    string selectedStep = "profilecategory";
    [AllowNull] private Steps stepsRef;
    [Parameter] public int profile { get; set; }
    [Inject] IProfileService profileService { get; set; } = null!;
    [Inject] NavigationManager navigation { get; set; } = null!;
    private Profile selectedProfile;

    private bool NavigationAllowed(StepNavigationContext context)
    {
        return true;
    }
}

@code {
    protected async override Task OnInitializedAsync()
    {
        this.selectedProfile = await profileService.GetProfile(profile);
    }

    private void Back()
	{
		navigation.NavigateTo("/admin/dmu/select-profile");
	}
}
