@using TheradexPortal.Data.Models;
@using TheradexPortal.Data.ViewModels;
@using TheradexPortal.Data;
<Div Class="nci-secondary-nav">
<Bar Mode="BarMode.VerticalInline"
    CollapseMode="BarCollapseMode.Small"
    ThemeContrast="ThemeContrast.Light"
    @bind-Visible=IsVisible
    Background="Background.Light">
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink @onclick="ToggleNavbar">
                    <BarIcon IconName="@(IsVisible ? IconName.ArrowLeft : IconName.ArrowRight)" />
                    Hide
                </BarLink>
            </BarItem>
            @if(Actions.Count > 0)
            {
                <Divider Class="my-0" />
            }
            @foreach(var action in Actions)
            {
                <BarItem>
                    @if(action.To != null){
                        <BarLink To="@action.To">
                            <BarIcon IconName="action.IconName" />
                            @action.Label
                        </BarLink>
                    }
                    else
                    {
                        <BarLink @onclick="() => HandleActionClick(action)">
                            <BarIcon IconName="action.IconName" />
                            @action.Label
                        </BarLink>
                    }
                </BarItem>
            }
            @if(Reports.Count > 0)
            {
                <Divider Class="my-0" />
            }
            @foreach(var report in Reports)
            {
                <BarItem>
                        <BarLink To="@GetReportLink(report)">
                        <BarIcon IconName="report.DisplayIconName ?? defaultIcon" />
                        @report.Name
                    </BarLink>
                </BarItem>
            }
            </BarStart>
    </BarMenu>
</Bar>
</Div>

@code {
    [Parameter] public IList<SecondaryNavAction> Actions { get; set; } = new List<SecondaryNavAction>();
    [Parameter] public IList<Report> Reports { get; set; } = new List<Report>();

    private bool IsVisible = false;
    private string defaultIcon = "fa-columns"; // https://blazorise.com/docs/extensions/icons-available

    protected void ToggleNavbar()
    {
        IsVisible = !IsVisible;
    }

    protected void HandleActionClick(SecondaryNavAction action)
    {
        if(action.OnClick != null)
        {
            action.OnClick.Invoke();
        }
    }

    protected string GetReportLink(Report report)
    {
        if(report.CustomPagePath != null)
        {
            return report.CustomPagePath;
        }
        else
        {
            return $"{WrConstants.DASHBOARD_PAGE_PATH}/{report.DashboardId}/{report.WRReportId}";
        }
    }
}
