@using System.Diagnostics.CodeAnalysis
@using TheradexPortal.Data.Models;
@using TheradexPortal.Data.Services.Abstract;
@using TheradexPortal.Data.Static;
@inject IHttpContextAccessor httpContextAccessor
@layout AdminLayout

@page "/admin/dmu/study-admin/{protocolMappingId:int}"
@*
    TODO: Add ThorRoleCheck check for DMU roles when they are created

<ThorRoleCheck AllowedRoles="@(new List<string> { "??" })"></ThorRoleCheck>
*@
<div class="dmu-admin-step-container">
    <Div Background="Background.Primary" TextColor="TextColor.Light" Class="p-1"><h2>DMU Protocol Setup</h2></Div>
    <Row Class="dmu-admin-step-container">
        <Steps @ref="stepsRef" SelectedStep="@selectedStep" NavigationAllowed="NavigationAllowed">
            <Items>
                <Step Name="protocolsetup">Protocol Setup</Step>
                <Step Name="protocolconfig">Config Options</Step>
                <Step Name="protocolfileupload">File Upload</Step>
                <Step Name="edcformsedit">Edit EDC Forms</Step>
                <Step Name="protocolfieldedit">Edit EDC Fields</Step>"
                <Step Name="protocolcategoryfieldedit">THOR Category - Field</Step>"
            </Items>
            <Content>
                <StepPanel Name="protocolsetup"><ProtocolSetupEdit protocolMappingId="@protocolMappingId"></ProtocolSetupEdit></StepPanel>
                <StepPanel Name="protocolconfig"><ThorFieldFormat protocolMappingId="@protocolMappingId"></ThorFieldFormat></StepPanel>
                <StepPanel Name="protocolfileupload"><ProtocolFileUpload protocolMappingId="@protocolMappingId"></ProtocolFileUpload></StepPanel>
                <StepPanel Name="edcformsedit"><EDCFormsEdit protocolMappingId="@protocolMappingId"></EDCFormsEdit></StepPanel>
                <StepPanel Name="protocolfieldedit"><EditEDCFields protocolMappingId="@protocolMappingId"></EditEDCFields></StepPanel>
                <StepPanel Name="protocolcategoryfieldedit"><ProtocolCategoryFieldsEdit protocolMappingId="@protocolMappingId"></ProtocolCategoryFieldsEdit></StepPanel>
            </Content>
        </Steps>
    </Row>
</div>
@code {
    string selectedStep = "protocolsetup";
    [AllowNull] private Steps stepsRef;
    [Parameter] public int protocolMappingId { get; set; }

    private bool NavigationAllowed(StepNavigationContext context)
    {
        return true;
    }
}
