@using System.Diagnostics.CodeAnalysis
@using TheradexPortal.Data.Models;
@using TheradexPortal.Data.Services.Abstract;
@using TheradexPortal.Data.Static;
@inject IHttpContextAccessor httpContextAccessor
@layout AdminLayout

@page "/admin/dmu/study-admin/{protocolMappingId:int}"
@*
    TODO: Add ThorRoleCheck check for DMU roles when they are created

<ThorRoleCheck AllowedRoles="@(new List<string> { "??" })"></ThorRoleCheck>
*@
<div class="dmu-admin-step-container">
    <Div Background="Background.Primary" TextColor="TextColor.Light" Class="p-1"><h2>DMU Protocol Setup</h2>@this.protocolNum - @this.mappingName</Div>
    <Row Class="dmu-admin-step-container">
        <Steps @ref="stepsRef" SelectedStep="@selectedStep" NavigationAllowed="NavigationAllowed">
            <Items>
                <Step Name="protocolsetup" Class="dmu-admin-step-item">Protocol Setup</Step>
                <Step Name="protocolconfig">Config Options</Step>
                <Step Name="protocolfileupload">File Upload</Step>
                <Step Name="edcformsedit">Edit EDC Forms</Step>
                <Step Name="protocolfieldedit">Edit EDC Fields</Step>
                <Step Name="protocoldictionary">EDC Dictionary</Step>
                <Step Name="protocolcategoryfieldedit">OARS Category - Field</Step>
                <Step Name="protocoltac">Protocol TAC</Step>
                <Step Name="protocoldisease">Protocol Disease</Step>
                <Step Name="protocolagentedit">Protocol Agent</Step>
                <Step Name="protocolsubgroupedit">Protocol Sub Group</Step>
                <Step Name="protocolpublish">
                    <Caption>Publish Study</Caption>
                    <Marker>
                        <Icon Name="IconName.Flag" />
                    </Marker>
                </Step>
            </Items>
            <Content>
                <StepPanel Name="protocolsetup"><ProtocolSetupEdit protocolMappingId="@protocolMappingId" allowEdit="@(!IsActive())"></ProtocolSetupEdit></StepPanel>
                <StepPanel Name="protocolconfig"><ThorFieldFormat protocolMappingId="@protocolMappingId" allowEdit="@(!IsActive())"></ThorFieldFormat></StepPanel>
                <StepPanel Name="protocolfileupload"><ProtocolFileUpload protocolMappingId="@protocolMappingId" allowEdit="@(!IsActive())"></ProtocolFileUpload></StepPanel>
                <StepPanel Name="edcformsedit"><EDCFormsEdit protocolMappingId="@protocolMappingId" allowEdit="@(!IsActive())"></EDCFormsEdit></StepPanel>
                <StepPanel Name="protocolfieldedit"><EditEDCFields protocolMappingId="@protocolMappingId" allowEdit="@(!IsActive())"></EditEDCFields></StepPanel>
                <StepPanel Name="protocoldictionary"><EDCDictionaryEdit protocolMappingId="@protocolMappingId" allowEdit="@(!IsActive())"></EDCDictionaryEdit></StepPanel>
                <StepPanel Name="protocolcategoryfieldedit"><ProtocolCategoryFieldsEdit protocolMappingId="@protocolMappingId" allowEdit="@(!IsActive())"></ProtocolCategoryFieldsEdit></StepPanel>
                <StepPanel Name="protocoltac"><ProtocolTAC protocolMappingId="@protocolMappingId" allowEdit="@(!IsActive())"></ProtocolTAC></StepPanel>
                <StepPanel Name="protocoldisease"><ProtocolDiseaseEdit protocolMappingId="@protocolMappingId" allowEdit="@(!IsActive())"></ProtocolDiseaseEdit></StepPanel>
                <StepPanel Name="protocolagentedit"><ProtocolAgentEdit protocolMappingId="@protocolMappingId" allowEdit="@(!IsActive())"></ProtocolAgentEdit></StepPanel>
                <StepPanel Name="protocolsubgroupedit"><ProtocolSubGroupEdit protocolMappingId="@protocolMappingId" allowEdit="@(!IsActive())"></ProtocolSubGroupEdit></StepPanel>
                <StepPanel Name="protocolpublish"><ProtocolPublish protocolMappingId="@protocolMappingId" allowEdit="@(!IsActive())"></ProtocolPublish></StepPanel>
            </Content>
        </Steps>
    </Row>
</div>
@code {
    string selectedStep = "protocolsetup";
    [AllowNull] private Steps stepsRef;
    [Parameter] public int protocolMappingId { get; set; }
    [SupplyParameterFromQuery][Parameter] public string published { get; set; }
    [Inject] IProtocolMappingService protocolMappingService { get; set; } = null!;
    private string mappingName;
    private string protocolNum;

    protected override async Task OnInitializedAsync()
    {
        var protocolMapping = await protocolMappingService.GetProtocolMapping(protocolMappingId);
        this.mappingName = protocolMapping.ProtocolTitle;
        this.protocolNum = protocolMapping.Protocol.LocalProtocolNumber;
    }

    private bool NavigationAllowed(StepNavigationContext context)
    {
        return true;
    }
    private bool IsActive()
    {
        return this.published == "Active";
    }
}
