@using TheradexPortal.Data.Models;
@using TheradexPortal.Data.Services.Abstract;
@using TheradexPortal.Data.Static;
@inject IHttpContextAccessor httpContextAccessor
@layout AdminLayout

@*
    TODO: Add ThorRoleCheck check for DMU roles when they are created

<ThorRoleCheck AllowedRoles="@(new List<string> { "??" })"></ThorRoleCheck>
*@

<DataGrid @ref=dataGridRef
          TItem="ThorField"
          Class="admindatagrid"
          Data="@fieldList"
          Editable
          Responsive
          Sortable
          Striped
          ShowPager
          ShowPageSizes
          Filterable
           FilterMethod="DataGridFilterMethod.StartsWith"
           MaxPaginationLinks="5"
           PagerPosition="DataGridPagerPosition.Bottom"
           PagerOptions="new(){ButtonSize=Size.Default,
                                PaginationPosition=PagerElementPosition.Default,
                                TotalItemsPosition=PagerElementPosition.End,
                                }"
          FixedHeader
           FixedHeaderDataGridHeight="calc(100vh - 240px)"
           FixedHeaderDataGridMaxHeight="calc(100vh - 240px)"
           EditMode="DataGridEditMode.Inline"
           RowUpdated="@Save"
           RowInserting="@Verify"
           RowInserted="@Save">
     <DataGridColumns>
          <DataGridColumn Width="15%" Field="@nameof(ThorField.ThorDataCategoryId)" Caption="OARS Data Category" Editable Filterable="true" Sortable="true" SortDirection="SortDirection.Ascending">
              <DisplayTemplate>
                @(context.Category.CategoryName + " (" + context.ThorDataCategoryId + ")") 
              </DisplayTemplate>
             <EditTemplate>
				 <SelectList TItem="ThorCategory" TValue="string" Data="@categoryList" TextField="@((item)=>item.CategoryName + " (" + item.ThorDataCategoryId + ")")" ValueField="@((item)=>item.ThorDataCategoryId)" SelectedValueChanged="@( v => {context.CellValue = v;})" SelectedValue="@((string?)context.CellValue)" DefaultItemText="Select A Category" DefaultItemValue="@String.Empty"></SelectList>
			 </EditTemplate>
         </DataGridColumn>
         <DataGridColumn Field="@nameof(ThorField.ThorFieldId)" Width="15%" Caption="OARS Field ID" Editable Filterable="true" Sortable="true">
         </DataGridColumn>
          <DataGridColumn Width="15%" Field="@nameof(ThorField.FieldLabel)" Caption="OARS Field Label" Editable Filterable="true" Sortable="true">
         </DataGridColumn>
         <DataGridColumn Width="10%" Caption="OARS Field Type" Field="@nameof(ThorField.ThorFieldTypeId)" Editable Filterable="true" Sortable="true">
             <DisplayTemplate>
                 @{
                     if(context.FieldType != null)
					 {
						 @context.FieldType.FieldTypeName
					 }
					 else if (context.FieldType == null && context.ThorFieldTypeId != null)
					 {
						@this.fieldTypes.First(x => x.ThorFieldTypeId == context.ThorFieldTypeId).FieldTypeName
					 }
					 else
					 {
						 <p></p>
					 }
                 }
            </DisplayTemplate>
             <EditTemplate>
                 <SelectList TItem="ThorFieldType" TValue="int?" Data="@fieldTypes" TextField="@((item)=>item.FieldTypeName)" ValueField="@((item)=>item.ThorFieldTypeId)" SelectedValue="@((int?)context.CellValue)" SelectedValueChanged="@( v => {context.CellValue = v;  context.UpdateCell(nameof( ThorField.ThorDictionaryId), null);})" DefaultItemText="Select A Type" DefaultItemValue="0"/>
             </EditTemplate>
         </DataGridColumn>
         <DataGridColumn Field="@nameof(ThorField.Derivable)" Width="5%" Caption="Derivable" Editable Filterable="true" Sortable="true">
             <DisplayTemplate>
                 @((bool)context.Derivable ? "Yes" : "No")
             </DisplayTemplate>
             <EditTemplate>
                 <Select TValue="bool" SelectedValueChanged="@( v => {context.CellValue = v;})" SelectedValue="@((bool)context.CellValue)">
                     <SelectItem Value="false">No</SelectItem>
                     <SelectItem Value="true">Yes</SelectItem>
                 </Select>
             </EditTemplate>
         </DataGridColumn>
         <DataGridColumn Field="@nameof(ThorField.ThorDictionaryId)" Caption="OARS Dictionary Name" Width="20%" Editable Filterable="true" Sortable="true">
             <DisplayTemplate>
                 @{
                    if (context.Dictionary != null)
					 {
                        @context.Dictionary.DictionaryName
                    }
                    else if (context.Dictionary == null && context.ThorDictionaryId != null)
                    {
                        @this.dictionaryList.First(x => x.ThorDictionaryId == context.ThorDictionaryId).DictionaryName
                    }
                    else
					{
						 <p></p>
                    }
                 }
            </DisplayTemplate>
            <EditTemplate>
                @{
                    int? fieldTypeId = (int?)context.ReadCell(nameof(ThorField.ThorFieldTypeId));
                    if(fieldTypeId != null)
                    {
                        string name = this.fieldTypes.First(x => x.ThorFieldTypeId == fieldTypeId).FieldTypeName;
                        if (name == "Dropdown")
                        {
                            <SelectList TItem="ThorDictionary" TValue="int?" Data="@dictionaryList" TextField="@((item) => item.DictionaryName)" ValueField="@((item)=>item.ThorDictionaryId)" SelectedValueChanged="@( v => {context.CellValue = v;})" SelectedValue="@((int?)context.CellValue)" />
                        }
                        else
                        {
                            <TextEdit Disabled />
                        }
                    }
                }
			 </EditTemplate>
        </DataGridColumn>
         <DataGridColumn Field="@nameof(ThorField.IsMultiForm)" Width="5%" Caption="Multi Form" Editable Filterable="true" Sortable="true">
             <DisplayTemplate>
                 @((bool)context.IsMultiForm ? "Yes" : "No")
             </DisplayTemplate>
             <EditTemplate>
                 <Select TValue="bool" SelectedValueChanged="@( v => {context.CellValue = v;})" SelectedValue="@((bool)context.CellValue)">
                     <SelectItem Value="false">No</SelectItem>
                     <SelectItem Value="true">Yes</SelectItem>
                 </Select>
             </EditTemplate>
         </DataGridColumn>
         <DataGridColumn Field="@nameof(ThorField.SortOrder)" Caption="Order" Editable Filterable="true" Sortable="true" Width="5%">
         </DataGridColumn>
         <DataGridCheckColumn Field="@nameof(ThorField.IsActive)" Caption="Active" Editable Width="5%">
             <DisplayTemplate>
                 <Check TValue="bool" Checked="context.IsActive" Disabled="true" ReadOnly="true" />
             </DisplayTemplate>
         </DataGridCheckColumn>
         <DataGridCommandColumn NewCommandAllowed="false" EditCommandAllowed="true" DeleteCommandAllowed="false">
             <EditCommandTemplate>
                 <Button><Icon Name="IconName.Edit" Clicked="@context.Clicked" /></Button>
             </EditCommandTemplate>
             <SaveCommandTemplate>
                 <Button><Icon Name="IconName.Save" Clicked="@context.Clicked" /></Button>
             </SaveCommandTemplate>
             <CancelCommandTemplate>
                 <Button><Icon Name="IconName.Times" Clicked="@context.Clicked" /></Button>
             </CancelCommandTemplate>
             <ClearFilterCommandTemplate>
                 <Button><Icon Name="IconName.Times" Clicked="@context.Clicked" /></Button>
             </ClearFilterCommandTemplate>
         </DataGridCommandColumn>
     </DataGridColumns>
     <ButtonRowTemplate>
         <Button Color="Color.Primary" Clicked="context.NewCommand.Clicked">Add</Button>
     </ButtonRowTemplate>
     <EmptyTemplate>
         <div class="box">
             No OARS fields were found.
         </div>
     </EmptyTemplate>
 </DataGrid>


@code {
    [Inject] IThorCategoryService categoryService { get; set; } = null!; 
    [Inject] IThorFieldService fieldService { get; set; } = null!;
    [Inject] IThorDictionaryService dictionaryService { get; set; } = null!;
    [Inject] private NavigationManager navigation { get; set; } = null!;
    [Inject] INotificationService notificationService { get; set; }

    private DataGrid<ThorField> dataGridRef;
    private IList<ThorCategory> categoryList;
    private IList<ThorField> fieldList;
    private IList<ThorFieldType> fieldTypes;
    private IList<ThorDictionary> dictionaryList;

    private ThorField? selectedField;

    protected override async Task OnInitializedAsync()
    {
        this.categoryList = await categoryService.GetCategories();
        this.fieldList = await fieldService.GetFields();
        this.fieldTypes = await fieldService.GetFieldTypes();
        this.dictionaryList = await dictionaryService.GetDictionaries();
    }

    public async Task<CancellableRowChange<ThorField>> Verify(CancellableRowChange<ThorField, Dictionary<string, object>> e)
    {
        e.Values.TryGetValue("ThorFieldId", out var id);
        e.Values.TryGetValue("ThorDataCategoryId", out var catId);
        e.Values.TryGetValue("SortOrder", out var order);
        e.Values.TryGetValue("FieldLabel", out var label);
        e.Values.TryGetValue("ThorFieldTypeId", out var fieldTypeId);

        if (id == null || catId == null || order == null || label == null || fieldTypeId == null)
        {
            await notificationService.Error("Please fix all errors to save.");
            e.Cancel = true;
        }

        return e;
    }

    public async void Save(SavedRowItem<ThorField, Dictionary<string, object>> e)
    {
        var toSave = e.Item;

        bool saved = await fieldService.SaveField(toSave);

        if (saved)
        {
            await notificationService.Success("Field successfully saved");
            return;
        }
        else
        {
            await notificationService.Error("Error saving field");
            return;
        }
    }
}
