@using TheradexPortal.Data.Models;
@using TheradexPortal.Data.Services.Abstract;
@using TheradexPortal.Data.Static;
@inject IHttpContextAccessor httpContextAccessor
@layout AdminLayout

@*
    TODO: Add ThorRoleCheck check for DMU roles when they are created

<ThorRoleCheck AllowedRoles="@(new List<string> { "??" })"></ThorRoleCheck>
*@

<DataGrid @ref=dataGridRef
            TItem="ThorCategory"
            Class="admindatagrid"
            Data="@categoryList"
            Editable
            Responsive
            Striped
            ShowPager
            ShowPageSizes
            Filterable
            FilterMethod="DataGridFilterMethod.StartsWith"
            MaxPaginationLinks="5"
            PagerPosition="DataGridPagerPosition.Bottom"
            PagerOptions="new(){ButtonSize=Size.Default,
                                PaginationPosition=PagerElementPosition.Default,
                                TotalItemsPosition=PagerElementPosition.End,
                                }"
            FixedHeader
            FixedHeaderDataGridHeight="calc(100vh - 240px)"
            FixedHeaderDataGridMaxHeight="calc(100vh - 240px)"
            EditMode="DataGridEditMode.Inline"
            RowUpdated="@Save"
            RowInserted="@Save">
        <DataGridColumns>
         <DataGridColumn Width="35%" Field="@nameof(ThorCategory.CategoryName)" Caption="THOR Data Category" Editable Filterable="true" Sortable="false">
            </DataGridColumn>
         <DataGridColumn Field="@nameof(ThorCategory.ThorDataCategoryId)" Width="35%" Caption="THOR Data Category ID" Editable Filterable="true" Sortable="false">
            </DataGridColumn>
         <DataGridColumn Field="@nameof(ThorCategory.IsMultiForm)" Width="10%" Caption="Is Multi Form?" Editable Filterable="true" Sortable="false">
                <DisplayTemplate>
                    @((bool)context.IsMultiForm ? "Yes" : "No")
                </DisplayTemplate>
             <EditTemplate>
                 <Dropdown Visible="true">
                     <DropdownToggle>
                         @((bool)context.CellValue ? "Yes" : "No")
                     </DropdownToggle>
                     <DropdownMenu>
                         <DropdownItem Value="false" Clicked="@((v) => context.CellValue = v)">No</DropdownItem>
                         <DropdownItem Value="true" Clicked="@((v) => context.CellValue = v)">Yes</DropdownItem>
                     </DropdownMenu>
                 </Dropdown>
             </EditTemplate>
            </DataGridColumn>
         <DataGridColumn Field="@nameof(ThorCategory.SortOrder)" Caption="Order" Editable Filterable="true" Sortable="false" Width="8%">
            </DataGridColumn>
         <DataGridCheckColumn Field="@nameof(ThorCategory.IsActive)" Caption="Is Active?" Editable Width="7%">
                 <DisplayTemplate>
                     <Check TValue="bool" Checked="context.IsActive" Disabled="true" ReadOnly="true"/>
                 </DisplayTemplate>
             </DataGridCheckColumn>
        <DataGridCommandColumn NewCommandAllowed="false" EditCommandAllowed="true" DeleteCommandAllowed="false">
            <EditCommandTemplate>
                <Button><Icon Name="IconName.Edit" Clicked="@context.Clicked"/></Button>
            </EditCommandTemplate>
            <SaveCommandTemplate>
                <Button><Icon Name="IconName.Save" Clicked="@context.Clicked"/></Button>
            </SaveCommandTemplate>
            <CancelCommandTemplate>
                <Button><Icon Name="IconName.Times" Clicked="@context.Clicked"/></Button>
            </CancelCommandTemplate>
            <ClearFilterCommandTemplate>
                <Button><Icon Name="IconName.Times" Clicked="@context.Clicked"/></Button>
            </ClearFilterCommandTemplate>
        </DataGridCommandColumn>
        </DataGridColumns>
        <ButtonRowTemplate>
            <Button Color="Color.Primary" Clicked="context.NewCommand.Clicked">Add</Button>
        </ButtonRowTemplate>
        <EmptyTemplate>
            <div class="box">
                No categories were found.
            </div>
        </EmptyTemplate>
    </DataGrid>


    @code {
    [Inject] IThorCategoryService categoryService { get; set; } = null!;
    [Inject] private NavigationManager navigation { get; set; } = null!;
    [Inject] INotificationService notificationService { get; set; }

    private DataGrid<ThorCategory> dataGridRef;
    private IList<ThorCategory> categoryList;

    private ThorCategory? selectedCategory;

    protected override async Task OnInitializedAsync()
    {
        this.categoryList = await categoryService.GetCategories();
    }

    public async void Save(SavedRowItem<ThorCategory,Dictionary<string,object>> e)
    {
        var toSave = e.Item;

        if (toSave.CategoryName == "" || toSave.ThorDataCategoryId == "" || !toSave.SortOrder.HasValue)
        {
            await notificationService.Error("Please fix all errors to save.");
            return;
        }

        bool saved = categoryService.SaveCategory(toSave);

        if (saved)
        {
            await notificationService.Success("Category successfully saved");
            return;
        }
        else
        {
            await notificationService.Error("Error saving category");
            return;
        }
    }
}
