@using TheradexPortal.Data.Models;
@using TheradexPortal.Data.Services.Abstract;
@using TheradexPortal.Data.Static;
@inject IHttpContextAccessor httpContextAccessor
@layout AdminLayout

@*
    TODO: Add ThorRoleCheck check for DMU roles when they are created

<ThorRoleCheck AllowedRoles="@(new List<string> { "??" })"></ThorRoleCheck>
*@

    <Column ColumnSize="ColumnSize.IsFull">
        @*<DataGrid TItem="Dashboard"
        Class="admindatagrid"
        Data="@dashboardList"
        Responsive
        Striped
        ShowPager
        ShowPageSizes
        MaxPaginationLinks="5"
        PagerPosition="DataGridPagerPosition.Bottom"
        PagerOptions="new(){ButtonSize=Size.Default,
        PaginationPosition=PagerElementPosition.Default,
        TotalItemsPosition=PagerElementPosition.End,
        }"
        FixedHeader
        FixedHeaderDataGridHeight="calc(100vh - 240px)"
        FixedHeaderDataGridMaxHeight="calc(100vh - 240px)"
        CommandMode="DataGridCommandMode.ButtonRow">
        <DataGridColumns>
        <DataGridMultiSelectColumn Width="30px"> </DataGridMultiSelectColumn>
        <DataGridCommandColumn />
        <DataGridColumn Field="@nameof(Dashboard.Name)" Caption="Dashboard Name" Width="250px" />
        <DataGridColumn Field="@nameof(Dashboard.Description)" Caption="Description" />
        <DataGridColumn Sortable="false" Filterable="false" Width="140px">
        <DisplayTemplate>
        </DisplayTemplate>
        </DataGridColumn>
        </DataGridColumns>
        <ButtonRowTemplate>
        <Button Color="Color.Secondary" Clicked="@OnOrderDashboardsClicked">Change Display Order</Button>
        <Button Color="Color.Primary" Clicked="@SaveCategoriesClick">Save</Button>
        </ButtonRowTemplate>
        </DataGrid>
        *@
    </Column>


@code {

}
