@using System.Diagnostics.CodeAnalysis
@using Microsoft.Extensions.Options
@using Newtonsoft.Json
@using TheradexPortal.Data.Models;
@using TheradexPortal.Data.Services.Abstract;
@using TheradexPortal.Data.Static;
@using TheradexPortal.Data.Models.Configuration;
@inject IHttpContextAccessor httpContextAccessor

<Modal @ref="ETCTNFileDataModal">
    <ModalContent Size="ModalSize.ExtraLarge">
        <ModalHeader Background="Background.Primary">
            <ModalTitle TextColor="TextColor.White">@crfDescription - @requestIdToFetch</ModalTitle>
            <CloseButton TextColor="TextColor.White" />
        </ModalHeader>
        <ModalBody Class="upload-Modal-Body">
            <Div Display="@receivingStatusVisible">
                <ReceivingStatusData IsAdminDisplay="@isAdminDisplay" RequestId="@requestIdToFetch"></ReceivingStatusData>
            </Div>
            <Div Display="@biospecimenRoadmapVisible">
                <BiospecimenRoadmapData IsAdminDisplay="@isAdminDisplay" RequestId="@requestIdToFetch"></BiospecimenRoadmapData>
            </Div>
            <Div Display="@tso500LibraryQCVisible">
                <TSO500LibraryQCData IsAdminDisplay="@isAdminDisplay" RequestId="@requestIdToFetch"></TSO500LibraryQCData>
            </Div>
            <Div Display="@tso500SequencingQCVisible">
                <TSO500SequencingQCData IsAdminDisplay="@isAdminDisplay" RequestId="@requestIdToFetch"></TSO500SequencingQCData>
            </Div>
            <Div Display="@shippingStatusVisible">
                <ShippingStatusData IsAdminDisplay="@isAdminDisplay" RequestId="@requestIdToFetch"></ShippingStatusData>
            </Div>
            <Div Display="@ifaVisible">
                <IFAData IsAdminDisplay="@isAdminDisplay" RequestId="@requestIdToFetch"></IFAData>
            </Div>
            <Div Display="@ifaResultSummaryVisible">
                <IFAResultSummaryData IsAdminDisplay="@isAdminDisplay" RequestId="@requestIdToFetch"></IFAResultSummaryData>
            </Div>
            <Div Display="@pathologyEvaluationReportVisible">
                <PathologyEvaluationReport IsAdminDisplay="@isAdminDisplay" RequestId="@requestIdToFetch"></PathologyEvaluationReport>
            </Div>
        </ModalBody>
        <ModalFooter>
        </ModalFooter>
    </ModalContent>
</Modal>

    @code {

    private Modal ETCTNFileDataModal;
    private string requestIdToFetch = string.Empty;
    private bool isAdminDisplay = false;
    private IFluentDisplay receivingStatusVisible = Display.None;
    private IFluentDisplay biospecimenRoadmapVisible = Display.None;
    private IFluentDisplay tso500LibraryQCVisible = Display.None;
    private IFluentDisplay tso500SequencingQCVisible = Display.None;
    private IFluentDisplay shippingStatusVisible = Display.None;

    private IFluentDisplay ifaVisible = Display.None;
    private IFluentDisplay ifaResultSummaryVisible = Display.None;
    private IFluentDisplay pathologyEvaluationReportVisible = Display.None;

    private string crfDescription = string.Empty;

    public async Task Show(string requestId, string crf, string crfDescription, bool isAdmin)
    {
        this.requestIdToFetch = requestId;
        this.isAdminDisplay = isAdmin;
        this.crfDescription = crfDescription;
        this.receivingStatusVisible = (crf == "RECEIVING_STATUS") ? Display.Block : Display.None;
        this.biospecimenRoadmapVisible = (crf == "BIOSPECIMEN_ROADMAP_ASSAY") ? Display.Block : Display.None;
        this.tso500LibraryQCVisible = (crf == "LIBRARY_QC") ? Display.Block : Display.None;
        this.tso500SequencingQCVisible = (crf == "SEQUENCING_QC") ? Display.Block : Display.None;
        this.shippingStatusVisible = (crf == "SHIPPING_STATUS") ? Display.Block : Display.None;
        this.ifaVisible = (crf == "IFA") ? Display.Block : Display.None;
        this.ifaResultSummaryVisible = (crf == "IFA_RESULT_SUMMARY") ? Display.Block : Display.None;
        this.pathologyEvaluationReportVisible = (crf == "PATHOLOGY_EVALUATION_REPORT") ? Display.Block : Display.None;

        StateHasChanged();

        ETCTNFileDataModal!.Show();
    }

    // private IFluentDisplay IsCRFInstructions(string crf)
    // {
    //     if (ETCTNUploadRequestModel.CRF == crf)
    //         return Display.Block;
    //     else
    //         return Display.None;
    // }
}