@using System.Diagnostics.CodeAnalysis
@using Microsoft.Extensions.Options
@using Newtonsoft.Json
@using TheradexPortal.Data.Models;
@using TheradexPortal.Data.Services.Abstract;
@using TheradexPortal.Data.Static;
@using TheradexPortal.Data.Models.Configuration;

@page "/upload"
@inject IHttpContextAccessor httpContextAccessor
@inject IOptions<UploadSettings> uploadSettings;

<AdminRoleCheck AllowedRoles="@(new List<string> { "IT", "Biz" })"></AdminRoleCheck>

<Div Background="Background.Primary" TextColor="TextColor.Light" Class="p-1 mb-3"><h2>Upload ETCTN Data</h2></Div>

<Divider />

<LoadingIndicator @ref="loadingIndicator">
    <Div Flex="Flex.AlignItems.Start" Margin="Margin.Is3.FromBottom" Background="Background.Light">
        <Div Padding="Padding.Is4" Style="@flexContainerStyle">

            <Row>
                <Column>
                    <Div>
                        <Alert Color="Color.Warning" CSS="nci-alert-component" Visible>
                            <AlertDescription TextOverflow="TextOverflow.Wrap">
                            </AlertDescription>
                            <AlertMessage>
                                <b>Welcome to the CSV Upload Dashboard in OARS!</b> Please begin by selecting the Protocol, Receiving Site and Source Site using the dropdown menus.<br />
                                Next, select the appropriate case report form (CRF) using the radio buttons and use the adjacent dropdown menu to choose an applicable Assay.<br />
                                Located below the CRF selectors are links for Downloading blank csv templates and general Instructions.<br />
                                Finally, click on “Choose file” to search your computer for the csv file of interest and once it’s ready, click on “Submit.”<br />
                                Also, there is a “Reset” button if it’s necessary to change the selected csv file prior to submitting the file to upload.
                            </AlertMessage>
                        </Alert>                        
                    </Div>
                </Column>
            </Row>

            <Row>
                <Column>
                    <Validations @ref="@ValidationsRef" Mode="ValidationMode.Manual" Model="@ETCTNUploadRequestModel" ValidateOnLoad="false">
                        <Fields>
                            <Validation Validator="@ValidationRule.IsNotEmpty">
                                <Field ColumnSize="ColumnSize.IsThird">
                                    <FieldLabel>Protocol</FieldLabel>
                                    <FieldBody>
                                        <Select @bind-SelectedValue="SelectedProtocol">
                                            <ChildContent>
                                                <SelectItem TValue="string"></SelectItem>
                                                @foreach (var item in protocols)
                                                {
                                                    <SelectItem TValue="string" Value="@item">@item</SelectItem>
                                                }
                                            </ChildContent>
                                            <Feedback>
                                                <ValidationError>Protocol is required</ValidationError>
                                            </Feedback>
                                        </Select>
                                    </FieldBody>
                                </Field>
                            </Validation>
                            <Validation>
                                <Field ColumnSize="ColumnSize.IsThird">
                                    <FieldLabel>Receiving Site</FieldLabel>
                                    <FieldBody>
                                        <Select @bind-SelectedValue="@ETCTNUploadRequestModel.ReceivingSite">
                                            <ChildContent>
                                                <SelectItem TValue="string"></SelectItem>
                                                @foreach (var item in trackingDestinations)
                                                {
                                                    <SelectItem TValue="string" Value="@item.UserData">@item.UserData</SelectItem>
                                                }
                                            </ChildContent>
                                            <Feedback>
                                                <ValidationError>ReceivingSite is required</ValidationError>
                                            </Feedback>
                                        </Select>
                                    </FieldBody>
                                </Field>
                            </Validation>
                            <Validation>
                                <Field ColumnSize="ColumnSize.IsThird">
                                    <FieldLabel>Source Site</FieldLabel>
                                    <FieldBody>
                                        <Select @bind-SelectedValue="@ETCTNUploadRequestModel.SourceSite">
                                            <ChildContent>
                                                <SelectItem TValue="string"></SelectItem>
                                                @foreach (var item in trackingDestinations)
                                                {
                                                    <SelectItem TValue="string" Value="@item.UserData">@item.UserData</SelectItem>
                                                }
                                            </ChildContent>
                                            <Feedback>
                                                <ValidationError>SourceSite is required</ValidationError>
                                            </Feedback>
                                        </Select>
                                    </FieldBody>
                                </Field>
                            </Validation>
                        </Fields>
                        <Fields>
                            <Validation Validator="@ValidationRule.IsNotEmpty">
                                <Field ColumnSize="ColumnSize.IsThird">
                                    <FieldLabel>CRF</FieldLabel>
                                    <FieldBody>
                                        <RadioGroup TValue="string" @bind-CheckedValue="SelectedCRF">
                                            <ChildContent>
                                                @foreach (var item in crfs)
                                                {
                                                    <Radio Value="@item.FormOID">@item.FormName</Radio>
                                                }
                                            </ChildContent>
                                            <Feedback>
                                                <ValidationError>CRF is required</ValidationError>
                                            </Feedback>
                                        </RadioGroup>
                                        <Span Visibility="@CheckCRFStatus()">
                                            <Icon Name="IconName.Download" IconSize="@IconSize.ExtraSmall" />&nbsp;
                                            <Link Clicked="OnDownloadTemplate" To="#">
                                            Download
                                            </Link>
                                            &nbsp;&nbsp;&nbsp;&nbsp;
                                            <Icon Name="IconName.ListUl" IconSize="@IconSize.ExtraSmall" />&nbsp;
                                            <Link Clicked="OnInstructionsView" To="#">
                                            Instructions
                                            </Link>
                                        </Span>
                                    </FieldBody>
                                </Field>
                            </Validation>
                            <Validation>
                                <Field ColumnSize="ColumnSize.IsThird">
                                    <FieldLabel>Assay</FieldLabel>
                                    <FieldBody>
                                        <Select @bind-SelectedValue="@ETCTNUploadRequestModel.Assay">
                                            <ChildContent>
                                                <SelectItem TValue="string"></SelectItem>
                                                @foreach (var item in assays)
                                                {
                                                    <SelectItem TValue="string" Value="@item.CodedData">@item.UserData</SelectItem>
                                                }
                                            </ChildContent>
                                            <Feedback>
                                                <ValidationError>Assay is required</ValidationError>
                                            </Feedback>
                                        </Select>
                                    </FieldBody>
                                </Field>
                            </Validation>
                        </Fields>
                        <Fields>
                            <Validation Validator="@ValidateFile">
                                <Field>
                                    <FieldLabel ColumnSize="ColumnSize.Is4" TextWeight="TextWeight.Bold">Attach File</FieldLabel>
                                    <FieldLabel>Accepted File Types: CSV</FieldLabel>
                                    <FileEdit @ref="@fileEditRef" Changed="@OnFileUpload" MaxFileSize="4194304" Filter=".csv" AutoReset="false" DisableProgressReport="false" Disabled="@(SelectedCRF == null)">
                                    </FileEdit>
                                </Field>
                            </Validation>
                        </Fields>
                    </Validations>
                    <Button Color="Color.Primary" Clicked="@OnSubmit">
                        Submit
                    </Button>
                    <Button Color="Color.Warning" Clicked="@OnReset">
                        Reset
                    </Button>
                </Column>
            </Row>
        </Div>
    </Div>
</LoadingIndicator>

<Modal @ref="modalUploadInstructions" Closing="@OnModalClosing">
    <ModalContent Centered Size="ModalSize.Large">
         <ModalHeader Background="Background.Primary" TextColor="TextColor.Light">
             <ModalTitle>@ETCTNUploadRequestModel.CRF</ModalTitle>
                <CloseButton />
            </ModalHeader>
            <ModalBody>
                <ListGroup Flush Padding="Padding.Is2" Display="@IsCRFInstructions("RECEIVING_STATUS")">
                 <ListGroupItem>
                     <Div Padding="Padding.Is2">
                         <Heading Size="HeadingSize.Is6">Protocol</Heading>
                         <Paragraph Margin="Margin.Is1.FromBottom.Is3.FromStart"><Small>Numeric Protocol ID (e.g. 10355)</Small></Paragraph>
                     </Div>
                 </ListGroupItem>
                 <ListGroupItem>
                     <Div Padding="Padding.Is2">
                         <Heading Size="HeadingSize.Is6">Subject ID</Heading>
                         <Paragraph Margin="Margin.Is1.FromBottom.Is3.FromStart"><Small>Subject ID represented as institution code-#### (e.g. TX035-0004)</Small></Paragraph>
                     </Div>
                 </ListGroupItem>
                 <ListGroupItem>
                     <Div Padding="Padding.Is2">
                         <Heading Size="HeadingSize.Is6">Specimen Id</Heading>
                         <Paragraph Margin="Margin.Is1.FromBottom.Is3.FromStart"><Small>Specimen ID is defined as the Protocol ID-Rave Patient Unique Identifier Number-## (e.g. 10358-B9247D41-17)</Small></Paragraph>
                     </Div>
                 </ListGroupItem>
                 <ListGroupItem>
                     <Div Padding="Padding.Is2">
                         <Heading Size="HeadingSize.Is6">Shipped Date</Heading>
                         <Paragraph Margin="Margin.Is1.FromBottom.Is3.FromStart"><Small>Date the Specimen was shipped from the Source Site (e.g. 3-Jan-22)</Small></Paragraph>
                     </Div>
                 </ListGroupItem>
                 <ListGroupItem>
                     <Div Padding="Padding.Is2">
                         <Heading Size="HeadingSize.Is6">Subspecimen ID</Heading>
                         <Paragraph Margin="Margin.Is1.FromBottom.Is3.FromStart"><Small>6 digit alphanumberic identifier given to subspecimens at the EET Biobank (e.g. 0D4HZP)</Small></Paragraph>
                     </Div>
                 </ListGroupItem>
                 <ListGroupItem>
                     <Div Padding="Padding.Is2">
                         <Heading Size="HeadingSize.Is6">Submission is Adequate</Heading>
                         <Paragraph Margin="Margin.Is1.FromBottom.Is3.FromStart"><Small>Does the Submission meet the requirements specified in the Study Protocol Document for the specimens?  (e.g. yes or no)</Small></Paragraph>
                     </Div>
                 </ListGroupItem>
                 <ListGroupItem>
                     <Div Padding="Padding.Is2">
                         <Heading Size="HeadingSize.Is6">Explanatory Reason</Heading>
                         <Paragraph Margin="Margin.Is1.FromBottom.Is3.FromStart"><Small>If "Submission is Adequate" field is a "no", please explain here (e.g. Minimal dry ice)</Small></Paragraph>
                     </Div>
                 </ListGroupItem>
                 <ListGroupItem>
                     <Div Padding="Padding.Is2">
                         <Heading Size="HeadingSize.Is6">Other Reason</Heading>
                         <Paragraph Margin="Margin.Is1.FromBottom.Is3.FromStart"><Small>If there is any further explanation please provide here (e.g. Package damaged)</Small></Paragraph>
                     </Div>
                 </ListGroupItem>
             </ListGroup>

             <ListGroup Flush Padding="Padding.Is2" Display="@IsCRFInstructions("BIOSPECIMEN_ROADMAP")">
                 <ListGroupItem>
                     <Div Padding="Padding.Is2">
                         <Heading Size="HeadingSize.Is6">Protocol</Heading>
                         <Paragraph Margin="Margin.Is1.FromBottom.Is3.FromStart"><Small>Numeric Protocol ID (e.g. 10355)</Small></Paragraph>
                     </Div>
                 </ListGroupItem>
                 <ListGroupItem>
                     <Div Padding="Padding.Is2">
                         <Heading Size="HeadingSize.Is6">Subspecimen ID</Heading>
                         <Paragraph Margin="Margin.Is1.FromBottom.Is3.FromStart"><Small>6 digit alphanumberic identifier given to subspecimens at the EET Biobank (e.g. 0D4HZP)</Small></Paragraph>
                     </Div>
                 </ListGroupItem>
                 <ListGroupItem>
                     <Div Padding="Padding.Is2">
                         <Heading Size="HeadingSize.Is6">Outcome</Heading>
                         <Paragraph Margin="Margin.Is1.FromBottom.Is3.FromStart"><Small>Indicates whether the event was successful or not (e.g. Pass or Fail)</Small></Paragraph>
                     </Div>
                 </ListGroupItem>
                 <ListGroupItem>
                     <Div Padding="Padding.Is2">
                         <Heading Size="HeadingSize.Is6">Details</Heading>
                         <Paragraph Margin="Margin.Is1.FromBottom.Is3.FromStart"><Small>Description of the entered "Outcome" (e.g. Assay Failure - stop)</Small></Paragraph>
                     </Div>
                 </ListGroupItem>
                 <ListGroupItem>
                     <Div Padding="Padding.Is2">
                         <Heading Size="HeadingSize.Is6">Date</Heading>
                         <Paragraph Margin="Margin.Is1.FromBottom.Is3.FromStart"><Small>Date of the Event (e.g. 8-Jan-22)</Small></Paragraph>
                     </Div>
                 </ListGroupItem>
                 <ListGroupItem>
                     <Div Padding="Padding.Is2">
                         <Heading Size="HeadingSize.Is6">AssayVersion</Heading>
                         <Paragraph Margin="Margin.Is1.FromBottom.Is3.FromStart"><Small>Number Assay Version (e.g. 2)</Small></Paragraph>
                     </Div>
                 </ListGroupItem>
                 <ListGroupItem>
                     <Div Padding="Padding.Is2">
                         <Heading Size="HeadingSize.Is6">Active</Heading>
                         <Paragraph Margin="Margin.Is1.FromBottom.Is3.FromStart"><Small>Active or Inactive (e.g. 1 or 0)</Small></Paragraph>
                     </Div>
                 </ListGroupItem>
             </ListGroup>
         </ModalBody>
         <ModalFooter>
         </ModalFooter>
     </ModalContent>
 </Modal>

 <script>
     window.triggerFileDownload = (fileName, url) => {
         const anchorElement = document.createElement('a');
         anchorElement.href = url;
         anchorElement.download = fileName ?? '';
         anchorElement.click();
         anchorElement.remove();
     }

     window.blazorOpen = (args) => {
         window.open(args);
     };

 </script>

 @code {

    @inject IJSRuntime JS
    @inject IConfiguration configuration

    private Modal modalUploadInstructions;
    private bool cancelClose;

    string flexContainerStyle = $"width:75%;";

    [Inject] IUploadService uploadService { get; set; } = null!;
    [Inject] IErrorLogService errorLogService { get; set; } = null!;
    [Inject] NavigationManager Navigation { get; set; }
    [Inject] IEmailService emailService { get; set; } = null!;
    [Inject] INotificationService NotificationService { get; set; }
    [Inject] private IUserService userService { get; set; } = null!;

    // List<string> studies = null;
    List<MedidataDictionaryModel> trackingDestinations = new List<MedidataDictionaryModel>();
    List<MedidataDictionaryModel> assays = new List<MedidataDictionaryModel>();
    List<CRFModel> crfs = new List<CRFModel>();
    List<ProtocolData> protocolData = new List<ProtocolData>();
    List<string> protocols = new List<string>();

    int? userId = null;
    bool IsAdmin = false;
    string currentEnvironment = null;

    FileEdit fileEditRef;

    Validations ValidationsRef { get; set; }

    ETCTNUploadRequest ETCTNUploadRequestModel { get; set; } = new ETCTNUploadRequest();

    UploadFileModel? UploadFile;

    LoadingIndicator loadingIndicator;

    public string SelectedProtocol
    {
        get
        {
            return ETCTNUploadRequestModel.Protocol;
        }
        set
        {
            ETCTNUploadRequestModel.Protocol = value;

            OnProtocolChanged();
        }
    }

    public string SelectedCRF
    {
        get
        {
            return ETCTNUploadRequestModel.CRF;
        }
        set
        {
            ETCTNUploadRequestModel.CRF = value;

            clearFile();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            userId = Convert.ToInt32(httpContextAccessor.HttpContext.User.FindFirst(ThorClaimType.UserId).Value);

            User curUser = await userService.GetUserAsync(userId.Value);

            currentEnvironment = configuration.GetValue<string>("System:Environment");

            protocolData = await uploadService.GetProtocolData(userId.Value, curUser.AllStudies);

            crfs = uploadService.GetCRFs();

            protocols = protocolData.Select(t => t.Protocol + "(FUNCTEST)").ToList();

            await OnReset();
        }
    }

    void OnProtocolChanged()
    {
        if (string.IsNullOrEmpty(ETCTNUploadRequestModel.Protocol))
            return;

        var data = protocolData.First(t => ETCTNUploadRequestModel.Protocol.StartsWith(t.Protocol));

        trackingDestinations = data.Sites;

        assays = data.Assays;
    }

    async Task OnCRFChanged()
    {
        await clearFile();
    }

    private Task OnModalClosing(ModalClosingEventArgs e)
    {
        e.Cancel = cancelClose
            || e.CloseReason != CloseReason.UserClosing;

        return Task.CompletedTask;
    }

    private Blazorise.Visibility CheckCRFStatus()
    {
        if (ETCTNUploadRequestModel.CRF != null)
            return Visibility.Visible;
        else
            return Visibility.Invisible;
    }

    async Task OnDownloadTemplate()
    {
        var fileName = crfs.First(t => t.FormOID == ETCTNUploadRequestModel.CRF).FormName;

        var preSignedUrl = await uploadService.GetCRFTemplateDownloadUrl(ETCTNUploadRequestModel.CRF, $"{fileName}.csv");

        string[] values = { preSignedUrl, "_blank" };
        CancellationToken token = new CancellationToken(false);
        await JS.InvokeAsync<object>("open", token, values);
    }

    private Task OnInstructionsView()
    {
        return modalUploadInstructions.Show();
    }

    private IFluentDisplay IsCRFInstructions(string crf)
    {
        if (ETCTNUploadRequestModel.CRF == crf)
            return Display.Block;
        else
            return Display.None;
    }

    async Task OnReset()
    {
        //await fileEditRef.Reset().AsTask();

        await ValidationsRef.ClearAll();

        ETCTNUploadRequestModel = new ETCTNUploadRequest();

        ETCTNUploadRequestModel.RequestId = Guid.NewGuid().ToString();

        SelectedProtocol = null;

        SelectedCRF = null;

        // UploadFile = null;

        trackingDestinations = new List<MedidataDictionaryModel>();

        assays = new List<MedidataDictionaryModel>();

        await clearFile();
    }

    async Task clearFile()
    {
        await fileEditRef.Reset().AsTask();

        UploadFile = null;
    }

    async Task OnSubmit()
    {
        if (await ValidationsRef.ValidateAll() && UploadFile != null)
        {
            await UploadMetadata();

            await OnReset();
        }
    }

    async Task<bool> UploadMetadata()
    {
        try
        {
            await loadingIndicator.Show();

            var key = uploadService.GetMetadataFileUploadKey(ETCTNUploadRequestModel.RequestId, ETCTNUploadRequestModel.CRF);

            var metadataFile = uploadService.GetMetadatafile(ETCTNUploadRequestModel, UploadFile, userId.Value, currentEnvironment);

            var json = JsonConvert.SerializeObject(metadataFile);

            var isSuccess = await uploadService.UploadMetatdataFileToS3(key, userId.Value, json);

            if (isSuccess)
            {
                await NotificationService.Success("Your Csv File was submitted successfully.");
            }
            else
            {
                await NotificationService.Error("There's an error submitting your Csv File. Please Reset and try again.");
            }

            return isSuccess;
        }
        catch (Exception ex)
        {
            errorLogService.SaveErrorLogAsync(userId.Value, Navigation.Uri, ex.InnerException, ex.Source, ex.Message, ex.StackTrace);

            return false;
        }
        finally
        {
            await loadingIndicator.Hide();
        }
    }

    async Task OnFileUpload(FileChangedEventArgs e)
    {
        try
        {
            await loadingIndicator.Show();

            IFileEntry? selectedFile = e.Files.FirstOrDefault();

            if (selectedFile == null || string.IsNullOrWhiteSpace(SelectedCRF))
                return;

            try
            {
                var fileExtension = Path.GetExtension(selectedFile.Name);

                if (fileExtension.ToLower() != ".csv")
                {
                    await fileEditRef.Reset().AsTask();

                    return;
                }

                var originalFileName = Path.GetFileName(selectedFile.Name);
                var key = uploadService.GetCsvUploadKey(ETCTNUploadRequestModel.RequestId, SelectedCRF);

                using (var stream = new MemoryStream())
                {
                    await selectedFile.WriteToStreamAsync(stream);

                    var isSuccess = await uploadService.UploadCsvFileToS3(key, userId.Value, stream);

                    if (isSuccess)
                    {
                        UploadFile = new UploadFileModel { OriginalFileName = originalFileName, S3Key = key };

                        await NotificationService.Success("File uploaded successfully.");
                    }
                    else
                    {
                        await NotificationService.Error("There's an error uploading the file. Please Reset and try again.");
                    }
                }
            }
            catch (Exception ex)
            {
                await errorLogService.SaveErrorLogAsync(userId.Value, Navigation.Uri, ex.InnerException, ex.Source, ex.Message, ex.StackTrace);
            }
        }
        catch (Exception ex)
        {
            errorLogService.SaveErrorLogAsync(userId.Value, Navigation.Uri, ex.InnerException, ex.Source, ex.Message, ex.StackTrace);
        }
        finally
        {
            this.StateHasChanged();

            await loadingIndicator.Hide();
        }
    }

    private void ValidateFile(ValidatorEventArgs e)
    {
        if (UploadFile == null)
        {
            e.Status = ValidationStatus.Error;
        }
        else
        {
            e.Status = ValidationStatus.Success;
        }
    }
}
